<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Index</title>
</head>
<body>
   <div class="top">
    <img src="assets/logo.png" alt="">
   </div>
   <div class="bottom">
    <div class="contents">
        <div class="in-chose">
            <div class="lin" id="lin" onclick="linChange()">
                Login
            </div>
            <div class="sin" id="sin" onclick="sinChange()">
                SignIn
            </div>
        </div>
        <div class="username">
            <input type="text" class="text" autocomplete="off" placeholder="Enter Username">
        </div>
        <div class="password">
            <input type="password" class="text" placeholder="Enter Password">
        </div>
        <div class="phone" id="sinTrue">
            <input type="text" class="text" autocomplete="off" placeholder="Enter Contact Number">
        </div>
        <div class="gender">
            <select id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="vw">Others</option>
                <option value="Select" selected>Male</option>
              </select>
        </div>
        <div class="buttons">
        <div class="login">
            <a href="/login" class="btn log" id="log">Login</a>
        </div>
        <div class="login">
            <a href="/step1" class="btn log" id="log1">SignUp</a>
        </div>
        <div class="alternate" id="alternate">
        <div class="google">
            <a href="gmail.com" class="btn logg">Login with Google</a>
        </div>
        <div class="facebook">
            <a href="facebook.com" class="btn fb">Login with Facebook</a>
        </div>
    </div>
    </div>
    </div>
   </div>
    <!-- <form action="/login" method="get">
    <button>login</button>
    </form> -->

    <script>
        let lin = true;
        function sinChange(){
            document.getElementById("lin").style.background = "white";
            document.getElementById("lin").style.color = "black";
            document.getElementById("sin").style.background = "#35b24ec5";
            document.getElementById("sin").style.color = "white";
            document.getElementById("sinTrue").style.display ="initial"
            document.getElementById("alternate").style.display ="none";
            document.getElementById("gender").style.display ="initial";
            document.getElementById("log1").style.display = "grid";
            document.getElementById("log").style.display = "none";
            lin = false;
        }
        function linChange(){
            document.getElementById("sin").style.background = "white";
            document.getElementById("sin").style.color = "black";
            document.getElementById("lin").style.background = "#35b24ec5";
            document.getElementById("lin").style.color = "white";
            document.getElementById("sinTrue").style.display ="none";
            document.getElementById("alternate").style.display ="initial";
            document.getElementById("gender").style.display ="none";
            document.getElementById("log").style.display = "grid";
            document.getElementById("log1").style.display = "none";
            lin = true;
        }
    </script>
</body>
</html>