<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Reccomendation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .nav{
            width: 100%;
            height: 200px;
            background: #35B14F;
            display: flex;
            justify-content: space-between;

            align-items: center;
        }
        img{
            height: 100px;
        }
        .nav-contents{
            display: flex;
            justify-content: space-between;
            margin: auto;
            align-items: center;
            width: 80% ;
        }
        .nav-contents h3{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #fff;
            font-size: 20px;
        }
        .main{
            height: 82vh;
            background: url("assets/road.png");
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .main-contents{
            display: grid;
        }
        .main-contents h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #fff;
            font-size: 50px;
        }
        .main-contents h2{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #fff;
            font-size: 30px;
            font-weight: normal;
        }
        .main-contents a{
            width: 100%;
            background: #fff;
            border-radius: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #000;
            font-size: 25px;
            height: 60px;
            text-align: center;
            text-decoration: none;
            margin-top: 1em;
            line-height: 55px;
        }
    </style>
</head>
<body>
    <nav class="nav">
        <div class="nav-contents">
        <img src="assets/logoW.png" alt="">
        <h3>BusRoute Reccomendation | Connectivity Index | <i class="fa fa-user" aria-hidden="true"></i></h3>
    </nav>
</div>
<div class="main">
    <div class="main-contents">

        <h1>Hey there,</h1>
        <h2>What information are you <br> looking for?</h2>
        <a href="/BusReccomend">Route Reccomendation</a>
        <a href="/conect">Connectivity Index</a>
</div>
</div>
</body>
</html>