<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            height: 100vh;
            background: url('assets/step2.png');
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onclick="location.href='/step3 ';">
</body>
</html>